<%- include('partials/header') -%>
<%- include('partials/navigation') -%>
<main class="index-main-content">
  <div class="form-container">
    <form class="post-form" action="post/createPost" method="POST">
      <textarea class="bg-dark post-form-items" name="caption" type="text" placeholder="What would you like to say <%= username %>?"></textarea>
      <small class="error"></small>
      <div class="index-button-div">
        <button class="form-button fs-300" value="send" type="submit">Post</button>
      </div>
    </form>
  </div>

  <section class="recent-posts">
    <ul>
      <% for(let i = 0; i < posts.length; i++) { %>
        <li class="card">

          <div class="user-time-posted">
            <a href="/profile/<%= posts[i].username%>">
              <span class="fs-300 post-username"><%= posts[i].username %></span>
              <span class="fs-200"> - <%= timePosted[i] %></span>
            </a>
            
          </div>
          <div class="post-content">
            <span class="fs-300 post-caption"><%= posts[i].caption %></span>
          </div>
          <div class="post-interactions">
            
            <a href="/post/<%= posts[i]._id %>"><span>comments</span></a>
            <span>likes</span>
          </div>
        </li>
      <% } %>
    </ul>
  </section>

</main>

<%- include('partials/footer') -%>