<%- include('partials/header') -%>
<%- include('partials/navigation') -%>
<main class="bg-dark">
  <form action="post/createPost" method="POST">
      <input name="title" type="text" autocomplete="off" placeholder="title">
      <small class="error"></small>
      <textarea name="caption" type="text" placeholder="caption"></textarea>
      <small class="error"></small>
    <button value="send" type="submit">Create Post</button>  
  </form>
  
  <section class="bg-accent">
      <ul>
          <% for(let i = 0; i < posts.length; i++) { %>
            <li>
              <a href="/profile/<%= posts[i].username%>"><h1><%= posts[i].username %></h1></a>
              <span><%= posts[i].title %></span><br>
              <span><%= posts[i].caption %></span><br>
              <a href="/post/<%= posts[i]._id%>"><span>view comments</span></a>
              <form action="comments/comment/<%= posts[i]._id %>" method="POST">
                <input name="comment" type="text" autocomplete="off" placeholder="Add a comment">
                <small class="error"></small>
                <button value="send" type="submit">Post</button>  
              </form>
            </li>
          <% } %>
      </ul>
  </section>

</main>
    

<%- include('partials/footer') -%>