<%- include('partials/header') -%>
<%- include('partials/navigation') -%>

<main class="bg-dark">
  <section class="bg-accent">

    <ul>
      <h1><%= post.username %></h1>
      <span><%= timePosted[0] %></span><br>
      <span><%= post.title %></span><br>
      <span><%= post.caption %></span><br>
      <span>comments:</span><br>
      <% if(comments.length === 0) { %>
        <h1>This post has no comments.</h1>
      <% } else { %>
        <% for(let i = 0; i < comments.length; i++) { %>
          <h3><%= comments[i].creatorUsername %></h3>
          <span><%= timeCommented[i] %></span><br>
          <span><%= comments[i].comment %></span><br>
        <% } %>
      <% } %>
    </ul>
  </section>
</main>

<%- include('partials/footer') -%>
